<div class="container">
    <div class="row justify-content-between">
        <div class="col-lg-5">
            <div class="section-heading">
                <h6>Real Teaching Work Experience</h6>
                <h2>I have taught students from K-12 (parent-supervised afterschool programs in English and Math) to collegiate level courses (computer science courses in Math and Programming) </h2>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="feature-box-01">
                <div class="feature-icon">
                    <span><i class="bi-code-square"></i></span>
                </div>
                <div class="feature-content">
                    <h5>What I've Been Up To Lately</h5>
                    <p>Most recently, I have been learning Japanese as a second language on Duolingo since late 2023: <a href="https://www.duolingo.com/profile/HectordePe2">Hector De Perio's Duolingo Profile</a></p>
                    <p>Keeping up with the latest in tech is always a routine endeavor. I have also delved into generative AI with ChatGPT, Stable Diffusion, Dall E 2, Bard AI, and Claude.</p>
                </div>
            </div>
            <div class="feature-box-01">
                <div class="feature-icon">
                    <span> <i class="bi-palette"></i></span>
                </div>
                <div class="feature-content">
                    <h5>Design Philosophy</h5>
                    <p>I practice a minimalistic approach to design by default, but depending on the needs, could be changed to complex, and yet functional design.</p>
                </div>
            </div>
            <div class="feature-box-01">
                <div class="feature-icon">
                    <span> <i class="bi-speedometer2"></i></span>
                </div>
                <div class="feature-content">
                    <h5>A great educator is also a great student</h5>
                    <p> </p>
                    <p>I believe that in order to be a great educator and expect your learners to be great, you must be an excellent learner yourself. I was pursuing a computer science degree in 2023 with a GPA of 3.89, before moving on with my career. </p>
                    <p> </p>
                    <p>If I learned anything in recent times, the journey is more important than the destination itself. What I learned along the path to computer science is much more important than the diploma.</p>
                    <p> </p>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>