<div class="container">
    <div class="row justify-content-between flex-row-reverse">
        <div class="col-md-7 col-lg-5">
            <div class="about-text">
                
                <h6>About - Hector De Perio</h6>
                <h3>A little more about me and this website:</h3>
                <p>My first programming language was C++. I think I first wrote a calculator program with it. I still use it today.</p>
                <p>Since 2021, I have dipped into front end software development, and learned Angular and React frameworks, along with HTML, CSS, Bootstrap, NodeJS, and the rest of the modern frontend package.</p>
                <p>This page was made in Angular, a Google service.</p>
                <p>I probably could have used React to make this portfolio and it would probably look the same. To see the work that I created with React, please visit:</p>
                <p ><a href="https://github.com/calcomsci" style="color:white">My Github Page</a></p>
                <p>Please Note: I only use LinkedIn publicly if you click on the social media links below. I have intentionally left the rest of them blank.</p>
                <div class="social-icon">
                    <a href="javascript:" title="Meta" alt="Meta" text="Meta"><i class="fab fa-facebook-f"></i></a>
                    <a href="javascript:" title="X (formerly Twitter)" alt="X (formerly Twitter)" text="X (formerly Twitter)"><i class="fab fa-twitter"></i></a>
                    <a href="javascript:" title="Instagram" alt="Instagram" text="Instagram"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/hectorperio/" title="LinkedIn" alt="LinkedIn" text="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    <a href="javascript:" title="Pinterest" alt="Pinterest" text="Pinterest"><i class="fab fa-pinterest"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-5 d-flex justify-content-center align-items-end">
            <div class="about-banner">
                <img src="assets/img/AI-hector-pro.jpeg" title="AI-generated version of me" alt="AI-generated image">
                <p>This is an AI-generated realistic photo of me, according to machines.</p>
            </div>
        </div>
    </div>
</div>