<div class="container">
    <div class="section-heading text-center mb-2">
        <h2 class="m-0">Featured Projects</h2>
    </div>
    <div class="row gx-0">
        <div class="project-box gy-5" style="background-image: url(assets/img/popup-project-1.png);">
            <div class="row align-items-end gy-5">
                <div class="col-lg-7">
                    <div class="project-desc">
                        <h3>My Github Page</h3>
                        <p>This is my most recent Github page. I have been active in it since I took a frontend web development bootcamp course in the University of California  sponsored by Amazon.</p>
                        <div class="btn-bar">
                            <a class="px-btn light px_modal" data-bs-toggle="modal" 
                            data-bs-target="#project_1"><span>View Project</span> <i class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-lg-end">
                    <div class="project-tags">
                        <span>Social</span>
                        <span>Front End Software Development</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-box gy-5" style="background-image: url(assets/img/project-2.jpg);">
            <div class="row align-items-end gy-5">
                <div class="col-lg-7">
                    <div class="project-desc">
                        <h3>Super Mario Bros Automated Machine Learning Powered by Pytorch</h3>
                        <p>Watch the AI play Mario on its own through numerous training models, and machine learning.</p>
                        <p>This is a machine learning project backed by the Pytorch framework (TO DO)</p>
                        <div class="btn-bar">
                            <a class="px-btn light px_modal" data-bs-toggle="modal" 
                            data-bs-target="#project_2"><span>View Project</span> <i class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-lg-end">
                    <div class="project-tags">
                        <span>Artificial Intelligence</span>
                        <span>Machine Learning</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-box gy-5" style="background-image: url(assets/img/popup-project-3.png);">
            <div class="row align-items-end gy-5">
                <div class="col-lg-7">
                    <div class="project-desc">
                        <h3>README Generator</h3>
                        <p>This is a software package that creates a README file for your software. All good software includes a well-documented README file, and this app will create a well-documented README file for you in Markdown (.MD) file format, that Github uses natively.</p>
                        <div class="btn-bar">
                            <a class="px-btn light px_modal" data-bs-toggle="modal" 
                            data-bs-target="#project_3"><span>View Project</span> <i class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-lg-end">
                    <div class="project-tags">
                        <span>Markdown</span>
                        <span>NodeJS</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

