<div class="container">
    <h2>What can AI do for you?</h2>
    <br>
 <!--
    <owl-carousel-o [options]="customOptions2">
        <ng-template carouselSlide>
          <div class="slide">
            <a href="assets/img/AI-fizzbuzz.png"></a><img src="assets/img/AI-fizzbuzz.png" alt="img 1" onclick="enlargeImg()" id="1"/>
            <p>AI can solve Leetcode-style questions</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="assets/img/AI-monalisa.png" alt="img 2" id="2"/>
            <p>AI can alter famous classic art</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="assets/img/AI-let-it-go.png" alt="img 3" id="3"/>
            <p><a href="https://www.youtube.com/watch?v=zaplUvWyUKw">(Click to listen) AI can cover famous songs for you: Frozen - Let It Go</a></p>

          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="assets/img/AI-mlk-essay.png" alt="img 4" id="4"/>
            <p>AI can write essays</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            
            <img src="assets/img/ai-resume-compare.png" alt="img 5" id="5"/>
            <p>AI can spin a new look for your resume</p>
          </div>
        </ng-template>
       <ng-template carouselSlide>
          <div class="slide">
            <img src="https://via.placeholder.com/600/56a8c2" alt="img 6" id="6" />
          </div>
        </ng-template>-->
      <!--</owl-carousel-o>
    -->
    <section>
      <div class="container">
          <div class="carousel">
              <input type="radio" name="slides" checked="checked" id="slide-1">
              <input type="radio" name="slides" id="slide-2">
              <input type="radio" name="slides" id="slide-3">
              <input type="radio" name="slides" id="slide-4">
              <input type="radio" name="slides" id="slide-5">
              <input type="radio" name="slides" id="slide-6">
              <input type="radio" name="slides" id="slide-7">
              <ul class="carousel__slides">
                  <li class="carousel__slide">
                      <figure>
                          <div>
                              <img src="assets/img/AI-fizzbuzz.png" alt="img 1" id="1" loading="lazy">
                          </div>
                          <figcaption>
                            AI can solve Leetcode-style questions
                              <span class="credit">ChatGPT</span>
                          </figcaption>
                      </figure>
                  </li>
                  <li class="carousel__slide">
                      <figure>
                          <div>
                            <img src="assets/img/AI-let-it-go.png" alt="img 2" id="2" loading="lazy"/>
            
                             
                          </div>
                          <figcaption>
                            <a href="https://www.youtube.com/watch?v=zaplUvWyUKw">(Click to listen) AI can cover famous songs for you: Frozen - Let It Go</a>
                              <span class="credit">Youtube</span>                            
                          </figcaption>
                      </figure>
                  </li>
                  <li class="carousel__slide">
                      <figure>
                          <div>
                              <img src="assets/img/AI-mlk-essay.png" alt="img 3" loading="lazy">
                          </div>
                          <figcaption>
                            AI can write essays
                              <span class="credit">Google Gemini</span>                            
                          </figcaption>
                      </figure>
                  </li>
                  <li class="carousel__slide">
                      <figure>
                          <div>
                              <img src="assets/img/aws-certification-guide.png" alt="img 4" loading="lazy">
                          </div>
                          <figcaption>
                              AI can help create apps without a single line of code from you
                              <span class="credit">AWS Party Rock</span>                            
                          </figcaption>
                      </figure>
                  </li>
                  <li class="carousel__slide">
                      <figure>
                          <div>
                              <img src="assets/img/AI-generated-video.png" alt="img 5" loading="lazy">
                          </div>
                          <figcaption>
                              <a href="https://www.youtube.com/watch?v=SR3Am-RLqrs">(Click to view video) AI can generate videos </a>
                              <span class="credit">Fliki</span>                            
                          </figcaption>
                      </figure>
                  </li>
                  <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="assets/img/AI-eye-contact.png" alt="img 6" loading="lazy">
                        </div>
                        <figcaption>
                            AI can help make corrections in your content (in this sample: eye contact)
                            <span class="credit">captions.ai</span>                            
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                  <figure>
                      <div>
                          <img src="assets/img/AI-more.png" alt="img 7" loading="lazy">
                      </div>
                      <figcaption>
                          AI isn't just limited to generated content and large language models. AI has disrupted, and will disrupt other industries, such as automation, hospitality, manufacturing, retail, and more.
                          <span class="credit">Pixel 4K</span>                            
                      </figcaption>
                  </figure>
              </li>
              </ul>    
              <ul class="carousel__thumbnails">
                  <li>
                      <label for="slide-1"><img src="assets/img/AI-fizzbuzz.png" alt="Fizzbuzz in Python" loading="lazy"></label>
                  </li>
                  <li>
                      <label for="slide-2"><img src="assets/img/AI-let-it-go.png" alt="Frozen Let It Go Cover by Freddie Mercury" loading="lazy"></label>
                  </li>
                  <li>
                      <label for="slide-3"><img src="assets/img/AI-mlk-essay.png" alt="Martin Luther King AI Generated Essay" loading="lazy"></label>
                  </li>
                  <li>
                      <label for="slide-4"><img src="assets/img/aws-certification-guide.png" alt="AI Generated Certification Guide" loading="lazy"></label>
                  </li>
                  <li>
                      <label for="slide-5"><img src="assets/img/AI-generated-video.png" alt="AI Generated Video" loading="lazy"></label>
                  </li>
                  <li>
                    <label for="slide-6"><img src="assets/img/AI-eye-contact.png" alt="AI Fix Eye Contact" loading="lazy"></label>
                </li>
                <li>
                  <label for="slide-7"><img src="assets/img/AI-more.png" alt="AI does a lot more" loading="lazy"></label>
              </li>
                  
              </ul>
          </div>
      </div>
  </section>
</div>