<div class="container">
    <h2>What can AI do for you?</h2>
    <br>
 <!--
    <owl-carousel-o [options]="customOptions2">
        <ng-template carouselSlide>
          <div class="slide">
            <a href="assets/img/AI-fizzbuzz.png"></a><img src="assets/img/AI-fizzbuzz.png" alt="img 1" onclick="enlargeImg()" id="1"/>
            <p>AI can solve Leetcode-style questions</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="assets/img/AI-monalisa.png" alt="img 2" id="2"/>
            <p>AI can alter famous classic art</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="assets/img/AI-let-it-go.png" alt="img 3" id="3"/>
            <p><a href="https://www.youtube.com/watch?v=zaplUvWyUKw">(Click to listen) AI can cover famous songs for you: Frozen - Let It Go</a></p>

          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            <img src="assets/img/AI-mlk-essay.png" alt="img 4" id="4"/>
            <p>AI can write essays</p>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="slide">
            
            <img src="assets/img/ai-resume-compare.png" alt="img 5" id="5"/>
            <p>AI can spin a new look for your resume</p>
          </div>
        </ng-template>
       <ng-template carouselSlide>
          <div class="slide">
            <img src="https://via.placeholder.com/600/56a8c2" alt="img 6" id="6" />
          </div>
        </ng-template>-->
      <!--</owl-carousel-o>
    -->
    <section>
      <div class="container">
          <div class="carousel">
              <input type="radio" name="slides" checked="checked" id="slide-1">
              <input type="radio" name="slides" id="slide-2">
              <input type="radio" name="slides" id="slide-3">
              <input type="radio" name="slides" id="slide-4">
              <input type="radio" name="slides" id="slide-5">
              <input type="radio" name="slides" id="slide-6">
              <input type="radio" name="slides" id="slide-7">
              <ul class="carousel__slides">
                  <li class="carousel__slide">
                      <figure>
                          <div>
                              <img src="assets/img/AI-fizzbuzz.png" alt="img 1" id="1">
                          </div>
                          <figcaption>
                            AI can solve Leetcode-style questions
                              <span class="credit">Credit: ChatGPT</span>
                          </figcaption>
                      </figure>
                  </li>
                  <li class="carousel__slide">
                      <figure>
                          <div>
                            <img src="assets/img/AI-let-it-go.png" alt="img 2" id="2"/>
            
                             
                          </div>
                          <figcaption>
                            <a href="https://www.youtube.com/watch?v=zaplUvWyUKw">(Click to listen) AI can cover famous songs for you: Frozen - Let It Go</a>
                              <span class="credit">Credit: Youtube</span>                            
                          </figcaption>
                      </figure>
                  </li>
                  <li class="carousel__slide">
                      <figure>
                          <div>
                              <img src="assets/img/AI-mlk-essay.png" alt="img 3">
                          </div>
                          <figcaption>
                            AI can write essays
                              <span class="credit">Credit: Google Bard</span>                            
                          </figcaption>
                      </figure>
                  </li>
                  <li class="carousel__slide">
                      <figure>
                          <div>
                              <img src="assets/img/AI-resume-compare.png" alt="img 4">
                          </div>
                          <figcaption>
                            AI can spin a new look for your resume. Is the resume new and improved? You decide!
                              <span class="credit">Credit: Resume Genius</span>                            
                          </figcaption>
                      </figure>
                  </li>
                  <li class="carousel__slide">
                      <figure>
                          <div>
                              <img src="assets/img/AI-interview-prep.png" alt="img 5">
                          </div>
                          <figcaption>
                              AI can help you prepare for career interviews
                              <span class="credit">Credit: interviewprep-ai.com</span>                            
                          </figcaption>
                      </figure>
                  </li>
                  <li class="carousel__slide">
                      <figure>
                          <div>
                              <img src="assets/img/AI-generated-video.png" alt="img 6">
                          </div>
                          <figcaption>
                              <a href="https://www.youtube.com/watch?v=SR3Am-RLqrs">(Click to view video) AI can generate videos </a>
                              <span class="credit">Credit: Fliki</span>                            
                          </figcaption>
                      </figure>
                  </li>
                  <li class="carousel__slide">
                    <figure>
                        <div>
                            <img src="assets/img/AI-eye-contact.png" alt="img 7">
                        </div>
                        <figcaption>
                            AI can help make corrections in your content (in this sample: eye contact)
                            <span class="credit">Credit: captions.ai</span>                            
                        </figcaption>
                    </figure>
                </li>
              </ul>    
              <ul class="carousel__thumbnails">
                  <li>
                      <label for="slide-1"><img src="assets/img/AI-fizzbuzz.png" alt=""></label>
                  </li>
                  <li>
                      <label for="slide-2"><img src="assets/img/AI-let-it-go.png" alt=""></label>
                  </li>
                  <li>
                      <label for="slide-3"><img src="assets/img/AI-mlk-essay.png" alt=""></label>
                  </li>
                  <li>
                      <label for="slide-4"><img src="assets/img/AI-resume-compare.png" alt=""></label>
                  </li>
                  <li>
                      <label for="slide-5"><img src="assets/img/AI-interview-prep.png" alt=""></label>
                  </li>
                  <li>
                      <label for="slide-6"><img src="assets/img/AI-generated-video.png" alt=""></label>
                  </li>
                  <li>
                    <label for="slide-7"><img src="assets/img/AI-eye-contact.png" alt=""></label>
                </li>
                  
              </ul>
          </div>
      </div>
  </section>
</div>