<div class="fixed-skill">
    

    </div>
<div class="container">
    <div class="row align-items-end">
        <div class="col-lg-7">
            <div class="hs-text-box">
                <h1>I'm Hector</h1>
                <h2>I'm a <span class="typed-element"></span></h2>
                <!--<div class="btn-bar">
                    <a class="px-btn light" href="javascript:"><span>Get in touch</span> <i class="bi-arrow-right"></i> </a>
                </div>-->
                <div class="review-box">
                    <div class="r-box">
                        <h3>View my Resume here</h3>
                        <label><a href="https://onedrive.live.com/view.aspx?resid=9FF2AEF8E96F7653%21834&authkey=!AJ5FZ5P6r7TLIao" target="_blank" style="color:white">(.DOC)</a></label>
                        
                        <br>
                        
                        <label><a href="https://1drv.ms/b/s!AlN2b-n4rvKfhkSSfzzloeSK8hIw?e=DLdUnS" target="_blank" style="color:white">(.PDF)</a></label>
                    
                    </div>
                    <div class="r-box">
                        <h3>20+<span>+</span></h3>
                        <label>Years recent U.S. Citizen in Bay Area, California </label>
                    </div>
                    <div class="r-box">
                        <h3>I used these to build this site:<span>+</span></h3>
                        <label>Angular, Github, HTML, JavaScript, SCSS, Visual Studio Code</label>
                    </div>
                    <!--<div class="r-box">
                        <h3>Tech <span>+</span></h3>
                        <label>Award Winning</label>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="hs-banner">
                <img src="assets/img/hero-img-no-bg.png" title="hero image" alt="hero image">
                <!--<img src="assets/img/AI-gen-eng.png" title="" alt="">-->
                <!--<p>Generative AI images of me by <a href="https://www.bing.com/images/create/hector-de-perio-software-engineer--thirty-years-ol/1-65bb3b109f994128ac46d0e3c6532ef9?FORM=GUH2CR">Bing Copilot</a></p>-->
                <p>Hello, world</p>
            </div>
        </div>
    </div>
</div>