<div class="fixed-skill">
    
    <ul>
        <li>
            <p style="color:White;">I USE</p>
        </li>
        <li>
            <span>
                

                <img src="assets/img/angular.png" title="Angular" alt="Angular">


   
            </span>
        </li>
        <li>
            <span>

                <img src="assets/img/react.png" title="React" alt="React">

                
            </span>
        </li>
        <li>
            <span>
                <img src="assets/img/html_5.svg" title="HTML 5" alt="">
            </span>
        </li>
        <li>
            <span>
                <img src="assets/img/css_3.svg" title="CSS 3 and SCSS" alt="">
            </span>
        </li>
    </ul>
    </div>
<div class="container">
    <div class="row align-items-end">
        <div class="col-lg-7">
            <div class="hs-text-box">
                <h1>I'm Hector</h1>
                <h2>I'm a <span class="typed-element"></span></h2>
                <!--<div class="btn-bar">
                    <a class="px-btn light" href="javascript:"><span>Get in touch</span> <i class="bi-arrow-right"></i> </a>
                </div>-->
                <div class="review-box">
                    <div class="r-box">
                        <h3>View my Resume here</h3>
                        <label><a href="https://github.com/calcomsci/hector-perios-online-resume/blob/main/assets/hector%20de%20perio%20cv%202024.pdf">Github</a></label>
                        <br>
                        <label><a href="https://drive.google.com/file/d/1HTKaY0RuTNjs7D6OI6dMiHs1eO1aL64j/view?usp=share_link">Google</a></label>
                    
                    </div>
                    <div class="r-box">
                        <h3>20+<span>+</span></h3>
                        <label>Years recent U.S. Citizen in Bay Area, California </label>
                    </div>
                    <div class="r-box">
                        <h3>15+<span>+</span></h3>
                        <label>Years Experience</label>
                    </div>
                    <!--<div class="r-box">
                        <h3>Tech <span>+</span></h3>
                        <label>Award Winning</label>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="hs-banner">
                <img src="assets/img/about-me-01.png" title="" alt="">
            </div>
        </div>
    </div>
</div>